<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'elab.png' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'elab.png' %}" sizes="16x16" type="image/png">
    <link rel="icon" href="{% static 'elab.png' %}" type="image/png">
    <title>{% block title %}

    {% endblock %}</title>
    {% block css %}

    {% endblock %}
    <link href="{% static 'bootstrap-5.3.0/css/bootstrap.min.css' %}" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
{% block body %}

{% endblock %}
{% block js %}

{% endblock %}
<script src="{% static 'bootstrap-5.3.0/js/bootstrap.bundle.js' %}"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>