{% if msg %}
    <div class="alert alert-danger m-2" role="alert">
        {{ msg }}
    </div>
{% endif %}

<div class="row m-0">
    <form method="post" action="{% url 'index' %}" class="row row-cols-lg-auto align-items-center m-2">
        {% csrf_token %}
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">开始日期</label>
            <div class="input-group">
                <div class="input-group-text">开始日期</div>
                <input type="date" required name="date_start" value="{{ date_start_f }}" class="form-control"
                       id="inlineFormInputGroupUsername"
                       placeholder="开始日期">
            </div>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">结束日期</label>
            <div class="input-group">
                <div class="input-group-text">结束日期</div>
                <input type="date" required name="date_end" value="{{ date_end_f }}" class="form-control"
                       id="inlineFormInputGroupUsername"
                       placeholder="结束日期">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-calendar-check"></i>
                生成值班表
            </button>
        </div>
        {% if data %}

            <div class="col-12">
                <a class="btn btn-primary"
                   href="{% url 'download' %}?list={{ data }}&date_s={{ date_start_f }}&date_e={{ date_end_f }}">
                    <i class="bi-alarm bi-filetype-xlsx"></i>
                    导出
                </a>
            </div>
        {% endif %}
    </form>
    {% if data %}

        {% if method != 'GET' %}
            <div class="row-12">
                <table class="table table-striped">
                    <thead>
                    <tr class="table-active">
                        <th scope="col">日期</th>
                        <th scope="col">早上</th>
                        <th scope="col">下午</th>
                        <th scope="col">晚上</th>
                        {# <th scope="col">操作</th> #}
                    </tr>
                    </thead>
                    <tbody>
                    {% for date, users in data.items %}
                        <tr>
                            {# <th scope="row">{{ forloop.counter }}</th>#}
                            <td>{{ date }}</td>
                            {% for na in users %}
                                <td>{{ na }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


        {% if method == 'GET' %}
            <!-- ToDO 1. 美化界面 2. 修改显示数据的逻辑，现在这样怪怪的  12.13-->

            <div class="row-12">
                <table class="table table-striped">
                    <thead>
                    <tr class="table-active">
                        <th scope="col">name</th>
                        <th scope="col">周数</th>
                        <th scope="col">时间</th>
                        <th scope="col">单双周</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>{{ item.get_work_week_display }}</td>
                            <td>{{ item.get_work_time_display }}</td>
                            <td>{{ item.get_oe_week_display }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}
</div>

